<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>281962672835-q5f03j13mkqcjlh6bbandrbo5c72mqlf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.281962672835-q5f03j13mkqcjlh6bbandrbo5c72mqlf</string>
	<key>API_KEY</key>
	<string>AIzaSyBFWKd7WC_FdJ0uHAJ3P0kmcOiOt36qCRE</string>
	<key>GCM_SENDER_ID</key>
	<string>281962672835</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jkta.petHealthyProj.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>petdata-dad1c</string>
	<key>STORAGE_BUCKET</key>
	<string>petdata-dad1c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:281962672835:ios:d4e13979ec9fbe60c62876</string>
</dict>
</plist>